{% extends 'portfolio/base.html' %}

{% block head %}
<title>About Me</title>
{% endblock %}


{% block body %}
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
<body>
    <style>

    </style>
    <header>
        About me
    </header>
    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="robert-beazley" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/robert-beazley?trk=profile-badge">Robert Beazley</a></div>

</body>
{% endblock %}