{% extends 'portfolio/base.html' %}

{% block head %}
<title>About Me</title>
{% endblock %}


{% block body %}


<body>
    <style>
        .jumbotron {
            background-color: rgba(101, 102, 101, 0.904);
            max-width: 1000px;
        }
    </style>
    <div class="container-fluid p-4">
        <div class="row justify-content-center mt-5">
            <div class="jumbotron col-12 col-sm-11 col-md-10 col-lg-8 shadow-lg rounded-3">
                <div class="p-4">
                    <h1 class="display-4 text-center text-light">About Me</h1>
                    <h5 class="text-light text-center">Robert Beazley</h5>
                    <hr style="width: 30%; color: white;" class="mx-auto">
                    <p class="lead text-left text-light m-0">
                        &emsp;My name is Robert, and I am a software developer based out of
                        Chapel Hill, North Carolina. I am currently transitioning from a career in utility forestry to software
                        development and spend most of my free time coding and building projects.
                    </p>
                    <p class="lead text-left text-light m-0">
                        &emsp;My coding journey began when I discovered that I could turn my interest in computers into a new career path. I enjoy tinkering with PCs and configuring them for higher performance or setting them up to more closely meet my specific needs. I love the way code allows you to interact with and "instruct" a computer to perform certain tasks. I enjoy the visual feedback that you receive from front-end development, but I also find it satisfying to setup a full-stack application with a database, APIs, and a server.
                    </p>
                    <p class="lead text-left text-light m-0">
                        &emsp;I first started by learning the basics of HTML, CSS, and JS and decided to explore Python from there. I built my first few portfolio projects and my portfolio site using Python and Django. I also completed my first freelance project with Django by creating a website for a family member's graphic design business. After getting a feel for different aspects of web development and data science, I decided to focus the majority of my time on web development using Javascript due to the vast number of web development jobs. 
                    </p>
                    <p class="lead text-left text-light m-0">
                        &emsp;I am currently building projects to strengthen my skills in Javascript, React, HTML, and CSS. I found that revisiting Javascript after learning Python actually helped my understanding of JS and common coding concepts. I continue to learn everyday, and it is my goal to complete at least one coding related task each day. This could range from cleaning up my GitHub and reading documentation to building a full-stack React application or applying for jobs. My current project is a dashboard built with React and Next.js that allows the user to activate multiple widgets that display information from a variety of APIs. Thank you for taking the time to read a little bit about me. Please feel free to checkout my portfolio, GitHub, or LinkedIn, and reach out any time!
                    </p>

                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}