{% extends 'portfolio/base.html' %}

{% block head %}
<title>About Me</title>
{% endblock %}


{% block body %}


<body>
    <style>
        .masthead {
            background-color: rgb(3, 90, 161);
        }

        /* .card {
            box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, 0.1);
        } */

        .jumbotron {
            background-color: rgba(105, 179, 108, 0.452);
        }
    </style>
    <div class="container-fluid p-5">
        <div class="row justify-content-center">
            <div class="jumbotron col-md-6 shadow-lg rounded-3">
                <div class="p-4">
                    <h1 class="display-4 text-center text-light">About Me</h1>
                    <h5 class="text-light text-center">Robert Beazley</h5>
                    <hr style="width: 30%; color: white;" class="mx-auto">
                    <br>
                    <p class="lead text-left text-light">&emsp;I grew up in Mooresville, NC and attended NC State
                        University. After graduating with a degree in Fisheries, Wildlife, and Conservation Biology, I
                        moved out West and spent a few years working for ski resorts in Colorado and California. While
                        in California, I began my role as a Consulting Utility Forester and worked with a utility in the
                        Lake Tahoe region to maintain the reliability and safety of power lines by identifying hazard
                        trees that could impact the lines. After a few years out West, I moved to Chapel Hill, NC and
                        continued my career in utility forestry as a contractor for Duke Energy. Around October of 2021
                        I began seeking an entirely new career path and made it a goal to learn how to code so that I
                        could work towards becoming a software developer. I had no idea what I was getting into at the
                        time and have learned to appreciate the complexity of this field. Each day I work towards my
                        goal of becoming a self-taught developer and continue to expand my knowledge and understanding
                        of code and all of its applications in the real world. I appreciate you taking the time to learn
                        more about me!
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}