{% extends 'portfolio/base.html' %}
{% load static %}

{% block head %}
<title>{{ projects.title }}</title>
{% endblock %}


{% block body %}

<body>
    <style>
        #site_link {
            background-color: rgb(105, 179, 108);
            border-color: rgb(105, 179, 108);
        }
    </style>
    {% if projects.header_image %}
    <div class="container-fluid p-4">
        <div class="row">

            <div class="col-md-8 border rounded p-2">
                <img src="{{ projects.header_image.url }}" width="100%" class="img-fluid rounded"
                    alt="Responsive image">
            </div>

            <div class="col-md-4 ">
                <h2 class="">{{ projects.title }}</h2>
                <p class="text-muted">{{ projects.author }} |
                    Uploaded: {{ projects.pub_date }}
                </p>
                <p class="">{{ projects.description | safe }}</p>
                <a class="btn btn-success" href="{{ projects.website_url }}" id="site_link" role="button">Go To Site
                    &raquo;</a>
                <a class="btn btn-secondary" href="{% url 'portfolio:index' %}" role="button">Back</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid p-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="">{{ projects.title }}</h2>
                <p class="text-muted">{{ projects.author }} |
                    Uploaded: {{ projects.pub_date }}
                </p>
                <p class="">{{ projects.description | safe }}</p>
                <a class="btn btn-success" href="{{ projects.website_url }}" id="site_link" role="button">Go To
                    Site
                    &raquo;</a>
                <a class="btn btn-secondary" href="{% url 'portfolio:index' %}" role="button">Back</a>
            </div>
        </div>
    </div>
    {% endif %}
</body>

{% endblock %}