{% extends 'portfolio/base.html' %}

{% block head %}
<title>My Portfolio</title>
{% endblock %}


{% block body %}

<body>
    <style>
        #title {
            background-color: rgb(105, 179, 108);
        }

        .card {
            box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, 0.1);
        }

        #site_link {
            background-color: rgb(105, 179, 108);
            border-color: rgb(105, 179, 108);
        }
    </style>
    <header>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card rounded mt-4 text-center text-light" id="title">
                    <div class="card-body p-3">
                        <h1 class="display-3 ">My Coding Portfolio</h1>
                        <p class="lead">These are my most recent projects.</p>
                        <p>I have been learning to code since October 2021.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% for project in project_list %}
    <div class="container mt-4 mb-4">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card mb-1 mt-1 mx-2 rounded">
                    <div class="card-body">
                        <h2 class="card-title">{{ project.title }}</h2>
                        <h6 class="card-subtitle mb-3 text-muted">{{ project.author }} | Uploaded: {{ project.pub_date }}
                        </h6>
                        {% if portfolio.header_image %}
                        <img src="{{ project.header_image.url }}" class="img-fluid rounded" alt="Responsive image">
                        {% endif %}
                        <p class="card-text">{{ project.description | safe }}</p>
                        <hr>
                        <a class="btn btn-success btn-sm" href="{{ project.website_url }}" id="site_link"
                            role="button">{{ project.title }}</a>
                        <a class="btn btn-secondary btn-sm" href="#" role="button">View Code in Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}