{% extends 'portfolio/base.html' %}
{% load static %}

{% block head %}
<title>My Portfolio</title>
{% endblock %}


{% block body %}

<body>
    <style>
        #title {
            background-color: rgb(105, 179, 108);
        }

        .card {
            box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, 0.1);
        }

        #site_link {
            background-color: rgb(105, 179, 108);
            border-color: rgb(105, 179, 108);
        }

        .card-footer {
            background: transparent;
            border-top: 0px;
        }
    </style>
    <header>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card rounded mt-4 text-center text-light" id="title">
                    <div class="card-body p-3">
                        <h1 class="display-3">My Coding Portfolio</h1>
                        <p class="lead">I have been learning how to code since October 2021,<br> and these are my coding projects.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-3 rounded">
        <div class="row justify-content-center">
            {% for project in project_list %}
            <div class="col-md-4 py-3">
                <div class="card h-100 border rounded">
                    {% if project.header_image %}
                    <img class="card-image-top rounded-top" style="max-width:100%; height:200px"
                        src="{{ project.header_image.url }}">
                    {% endif %}
                    <div class="card-body border-top d-flex flex-column justify-content-between">
                        <div>
                            <h4 class="card-title">{{ project.title }}</h4>
                            <p class="lead card-text">{{ project.snippet | safe }}</p>
                        </div>
                        <div class="mt-2">
                            <a class="btn btn-success btn-sm" href="{% url 'portfolio:detail' project.id %}" id="site_link" role="button">Read More &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}