{% extends 'portfolio/base.html' %}

{% block head %}
<title>Resume</title>
{% endblock %}


{% block body %}

<body>
    <style>
        .container {
            background-color: transparent;
        }

        main {
            background-color: rgba(101, 102, 101, 0.90);
        }

        body {
            color: white;
        }

        header {
            background-color: rgba(105, 179, 108, 0.90);
        }

        ul,
        p,
        h6,
        button {
            font-family: 'Nunito Sans', sans-serif;
            font-size: 18px;
        }

        button,
        h4,
        h6 {
            font-weight: bold;
        }

        .skills {
            margin: 0 auto;
            /* white-space: pre-wrap; */
        }

        #resume {
            max-width: 1350px;
        }

        a {
            color: white;
        }

        a:hover {
            color: rgba(105, 179, 108);
        }


        @media (max-width: 1000px) {

            header,
            h4 {
                text-align: center;
            }

            .skills-list {
                text-align: center;
                justify-content: center;
            }
        }
    </style>
    <div class="container-fluid p-2 pb-lg-5">
        <div class="col-12 col-md-11 col-lg-10 mx-auto shadow-lg" id="resume">
            <header class="py-4 px-4 text-white rounded-top">
                <div class="row justify-content-between align-items-start">
                    <div class="ml-2">
                        <h1 class="display-4">Robert Beazley</h1>
                        <h3>Software Developer</h3>

                    </div>
                    <div class="mr-2 mt-2">
                        <ul class="list-unstyled">
                            <li class="">Chapel Hill, NC</li>
                            <li>robertbeazley18@gmail.com</li>
                            <li>(704) 880-0586</li>
                        </ul>
                    </div>
                </div>
            </header>
            <main class="p-4 rounded-bottom shadow-lg">
                <div class="">
                    <div class="row d-flex flex-row justify-content-between ">
                        <div class="col-md-3">
                            <h4><em>Profile</em></h4>
                        </div>
                        <div class="col-md-9 text-left">
                            <p>Experienced professional making career transition into software development. Passion for
                                web
                                development with excellent problem-solving skills and resourcefulness. Proven ability to
                                drive
                                success and lead a team. Background in environmental compliance and utility vegetation
                                management with highly effective written and oral communication skills.
                            </p>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="mt-4">
                    <div class="row text-left">
                        <div class="col-md-3">
                            <h4><em>Skills</em></h4>
                        </div>
                        <div class="col-md-9">
                            <div class="row skills-list">
                                <div class="col-4 col-md-2 skills">
                                    <ul class="list-unstyled">
                                        <li>Javascript</li>
                                        <li>React</li>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                </div>
                                <div class="col-4 col-md-2 skills">
                                    <ul class="list-unstyled">
                                        <li>Bootstrap</li>
                                        <li>MongoDB</li>
                                        <li>Python</li>
                                        <li>Django</li>
                                </div>
                                <div class="col-4 col-md-2 skills">
                                    <ul class="list-unstyled">
                                        <li>Node.js</li>
                                        <li>Git</li>
                                        <li>GitHub</li>
                                        <li>VS Code</li>
                                    </ul>
                                </div>
                                <div class="col-4 col-md-2 skills">
                                    <ul class="list-unstyled">
                                        <li>Heroku</li>
                                        <li>Express.js</li>
                                        <li>AWS S3</li>
                                        <li>Powershell</li>
                                    </ul>
                                </div>
                                <div class="col-4 col-md-2 skills">
                                    <ul class="list-unstyled">
                                        <li>Pandas</li>
                                        <li>Selenium</li>
                                        <li>Slack</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="mt-4">
                    <div class="row text-left">
                        <div class="col-md-3">
                            <h4><em>Work Experience</em></h4>
                        </div>
                        <div class="col-md-9 pr-2">
                            <div>
                                <h6>Software Development Experience (November 2021-Present)</h6>
                                <ul>
                                    <li>
                                        Currently building a widget dashboard using React and Next.js that allows users
                                        to customize widgets on their dashboard and connect to multiple APIs to fetch
                                        data. Dashboard has CRUD functionality and stores data in MongoDB documents.
                                    </li>
                                    <li>
                                        Completed freelance website for client utilizing Python, Django, HTML, CSS,
                                        Bootstrap, AWS S3, SendGrid, and Heroku. Application allows owner to upload
                                        recent work and photos to her portfolio and communicate with potential clients
                                        via email.
                                    </li>
                                    <li>
                                        Created a single-page application with Javascript, HTML, and CSS that allows
                                        users to search stock tickers and retrieve information from an API. Utilizes the
                                        Javascript Fetch API, async/await, and DOM manipulation for a dynamic
                                        experience.
                                    </li>
                                    <li>
                                        Built several CRUD applications, such as a blog and todo list, using Python,
                                        Django, HTML, CSS, and Bootstrap.
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h6>Environmental Consultants Incorporated (ECI)-Raleigh, NC: Contract Forester (July
                                    2021-Present)</h6>
                                <ul>
                                    <li>Inspect tree trimming and tree removal work on Duke Energy distribution lines in
                                        the
                                        Raleigh/Cary area to maintain grid reliability and safety.
                                    </li>
                                    <li>Communicate with customers and tree contractors to ensure work is completed in
                                        compliance with Duke Energy’s specifications and to the satisfaction of property
                                        owners.
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h6>Curated: Ski Expert (October 2021-Present)</h6>
                                <ul>
                                    <li>Utilize communication skills and sales experience to sell ski gear to customers
                                        with
                                        Curated.com’s online platform to create personalized gear recommendations based
                                        on a
                                        person’s skill level, budget, and other individual needs.
                                    </li>
                                    <li>Continuously follow up with customers to provide support and assist with any new
                                        gear
                                        requirements or customer service issues.</li>
                                </ul>
                            </div>
                            <div>
                                <h6>CN Utility Consulting-Raleigh, NC: Contract Forester (October 2020-July 2021)
                                </h6>
                                <ul>
                                    <li>Worked directly with Duke Energy in the Raleigh area to maintain transmission
                                        powerline
                                        reliability and safety through established vegetation management practices.
                                    </li>
                                    <li>Effectively communicated tree work to property owners and addressed any concerns
                                        using arboricultural and utility knowledge.
                                    </li>
                                    <li>Maintained quality of work and safety culture through tree crew oversight and QA
                                        inspections.
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h6>Environmental Consultants Incorporated (ECI)-Truckee, CA:
                                    Consulting Utility Forester (May 2019-August 2020)</h6>
                                <ul>
                                    <li>Contracted by Liberty Utilities-Lake Tahoe to work alongside the vegetation
                                        management
                                        department to maintain compliance with line clearance regulations.

                                    </li>
                                    <li>Improved grid reliability and safety through identification of trees that posed
                                        a risk to
                                        high-voltage lines.
                                    </li>
                                    <li>Effectively communicated with customers and addressed any concerns regarding
                                        tree
                                        work to be completed.
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h6>Phillips and Jordan-Raleigh, NC: Environmental Coordinator (May 2017-October 2017)
                                </h6>
                                <ul>
                                    <li>Monitored site restoration progress on transmission line projects and created
                                        detailed
                                        reports that included the appropriate NPDES forms and photo documentation.
                                    </li>
                                    <li>Worked with a team of contractors and utility representatives to comply with
                                        line build
                                        specifications and maintain BMPs.
                                    </li>
                                </ul>
                            </div>
                            <div class="accordion" id="accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header rounded-3" id="headingOne">
                                        <button class="accordion-button text-light"
                                            style="background-color: rgb(101, 102, 101, 0.904);" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            Other Work Experience
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="headingOne" data-bs-parent="#accordion">
                                        <div class="accordion-body text-light rounded-bottom"
                                            style="background-color: rgb(101, 102, 101);">
                                            <div>
                                                <h6>Alpine Meadows Ski Resort-Truckee, CA: Ski Instructor (February
                                                    2019-June 2019)</h6>
                                                <ul>
                                                    <li>Taught adults and children the fundamentals of skiing through
                                                        methodical progression.
                                                    </li>
                                                    <li>Effectively communicated techniques and skills in a group
                                                        setting and provided individual
                                                        feedback to clients.
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h6>Black Tie Ski Rental Delivery-Truckee, CA: Technician (November
                                                    2018-April 2019)</h6>
                                                <ul>
                                                    <li>Delivered ski and snowboard equipment to guests and fit them
                                                        with proper boots and
                                                        skis based on skill level or skiing style.
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h6>Alpenrose Gardenscapes-Vail, CO: Technician (April 2018-October
                                                    2018)
                                                </h6>
                                                <ul>
                                                    <li>Worked with a team to create landscape features such as
                                                        flagstone walkways and
                                                        decorative flower beds and performed regular maintenance on
                                                        yards.
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h6>Vail Lacrosse Club-Vail, CO: U12 Coach (Spring 2018)
                                                </h6>
                                                <ul>
                                                    <li>Taught players the fundamentals of lacrosse and emphasized the
                                                        importance of
                                                        teamwork and sportsmanship throughout the season.
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h6>Vail Ski Resort-Vail, CO: Mountain Safety (November 2017-April 2018)
                                                </h6>
                                                <ul>
                                                    <li>Interacted with guests to educate them on how to ski or ride in
                                                        the safest way possible.
                                                    </li>
                                                    <li>Worked with a team to set up preventive measures around the
                                                        mountain to help reduce
                                                        accidents.
                                                    </li>
                                                    <li>Helped host safety-related events to raise awareness of safety
                                                        on the mountain.
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h6>Foster Lake and Pond Management-Charlotte, NC: Technician (June
                                                    2015-April 2017)
                                                </h6>
                                                <ul>
                                                    <li>Analyzed the current state of ponds and lakes and developed
                                                        strategies to improve the
                                                        ecosystem.
                                                    </li>
                                                    <li>Completed stormwater BMP restoration and maintenance projects.
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h6>Rowboat Dock and Dredge-Mooresville, NC: Laborer (Summer 2012, 2013)
                                                </h6>
                                                <ul>
                                                    <li>Worked with a team to frame and deck docks.
                                                    </li>
                                                    <li>Operated forklift, skid-steer, and other heavy
                                                        equipment.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <a target="_blank" href="{% url 'portfolio:resume_pdf' %}">Download PDF (Full Resume)</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="mt-4 mb-4">
                    <div class="row text-left">
                        <div class="col-md-3">
                            <h4><em>Education</em></h4>
                        </div>
                        <div class="col-md-9">
                            <h6 class="fw-bold">North Carolina State University (2012-2016)</h6>
                            <p>B.S. in Fisheries, Wildlife, and Conservation Biology-Fisheries Concentration</p>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="mt-4 mb-4">
                    <div class="row text-left">
                        <div class="col-md-3">
                            <h4><em>Scholarships and Awards</em></h4>
                        </div>
                        <div class="col-md-9">
                            <ul class="list-unstyled">
                                <li class="mb-1">Chancellor’s Leadership Scholarship (2012)
                                </li>
                                <li>Eagle Scout (2009)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
{% endblock %}