{% extends 'portfolio/base.html' %}

{% block head %}
<title>Resume</title>
{% endblock %}


{% block body %}

<body>
    <style>
        .container {
            background-color: rgb(105, 179, 108);
        }

        .border-top {
            border-width: thick;
        }
    </style>
    <div class="container my-4 p-2 rounded">
        <header class="bg-dark py-5 px-4 text-white rounded-top">
            <div class="row flex-row justify-content-between align-items-start">
                <div class="ml-2">
                    <h1 class="display-4">Robert Beazley</h1>
                    <h3 class="font-weight-light">Web Developer</h3>
                    
                </div>
                <div class="mr-2 mt-2">
                    <ul class="list-unstyled lead">
                        <li class="font-weight-light">Chapel Hill, NC</li>
                        <li>robertbeazley18@gmail.com</li>
                        <li>(704) 880-0586</li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="bg-light p-4 rounded-bottom">
            <div class="">
                <div class="row d-flex flex-row justify-content-between ">
                    <div class="col-md-3">
                        <h4 class=""><em>Profile</em></h4>
                    </div>
                    <div class="col-md-9 text-left">
                        <p>Self-taught developer working towards establishing a career in software development.
                            Experience creating web applications using Python and Django as well as frontend styling
                            with HTML, CSS, and Bootstrap. Background in environmental compliance and utility
                            vegetation management with excellent written and oral communication skills.</p>
                    </div>
                </div>
                <hr>
            </div>
            <div class="mt-4">
                <div class="row d-flex flex-row justify-content-between">
                    <div class="col-md-3">
                        <h4><em>Skills</em></h4>
                    </div>
                    <div class="col-md-9">
                        <div class="row align-items-start">
                            <div class="col-md-2">
                                <ul class="list-unstyled">
                                    <li>Python</li>
                                    <li>Django</li>
                                    <li>CSS</li>
                                    <li>HTML</li>
                            </div>
                            <div class="col-md-2">
                                <ul class="list-unstyled">
                                    <li>Bootstrap</li>
                                    <li>SQLite</li>
                                    <li>Powershell</li>
                                    <li>VS Code</li>
                                </ul>
                            </div>
                            <div class="col-md-2">
                                <ul class="list-unstyled">
                                    <li>Javascript</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div class="mt-4">
                <div class="row d-flex flex-row justify-content-between">
                    <div class="col-md-3">
                        <h4><em>Work Experience</em></h4>
                    </div>
                    <div class="col-md-9 text-left pr-2">
                        <div>
                            <h6 class="font-weight-bold">Curated: Ski Expert (October 2021-Present)</h6>
                            <ul>
                                <li>Utilize communication and sales experience to sell ski gear to customers with
                                    Curated.com’s online platform to create personalized gear recommendations based on a
                                    person’s skill level, budget, and other individual needs.</li>
                                <li>Continuously follow-up with customers to provide support and assist with any new
                                    gear requirements or customer service related issues.</li>
                                <li>Communicate with a large pool of Curated ski experts and staff utilizing multiple
                                    Slack channels.</li>
                            </ul>
                        </div>


                        <div>
                            <h6 class="font-weight-bold">Environmental Consultants Incorporated (ECI)-Raleigh, NC:
                                Contract Forester
                                (July 2021-Present)</h6>
                            <ul class="font-weight-light">
                                <li>Inspect tree trimming and tree removal work on Duke Energy distribution lines to
                                    verify satisfactory completion of work by tree contractor and compliance with ANSI
                                    standards.
                                </li>
                                <li>Input findings into FMA, a GIS based software, and communicate deficiencies to the
                                    tree crew foreman in a constructive manner.
                                </li>
                                <li>Maintain a culture of safety through the completion of daily JSAs and complying with
                                    strict industry standards set by OSHA, ANSI, and Duke Energy.
                                </li>
                                <li>
                                    Meet with customers and address their concerns by utilizing communication skills and
                                    utility vegetation management knowledge.
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h6 class="font-weight-bold">CN Utility Consulting-Raleigh, NC: Contract Forester (January
                                2021-July 2021)</h6>
                            <ul class="font-weight-light">
                                <li>Work directly with Duke Energy Vegetation Management Specialist in the Raleigh area
                                    to maintain
                                    transmission powerline reliability and safety through established vegetation
                                    management
                                    practices.</li>
                                <li>Utilize LIDAR and air patrol data to field verify and plan the removal or pruning of
                                    high
                                    priority threats to 230 kV and 115 kV transmission lines.</li>
                                <li>Perform QA inspections on vegetation management work completed by tree contractors
                                    and report
                                    findings to Duke Energy.</li>
                                <li>Complete safety observations on tree crews and report findings to Duke Energy to
                                    insure
                                    compliance with standards such as OSHA and ANSI Z133 Safety Standards.</li>
                                <li>Plan bucket and climbing tree work in sensitive residential areas and contact
                                    property owners to
                                    inform them of the tree work to occur along the transmission line ROW.</li>
                                <li>Respond to customer complaints and make site visits to complete tree risk
                                    assessments and
                                    determine if there is currently a threat to the transmission lines.</li>

                                <li>Issue tree work to tree contractors and work directly with General Foreman to assist
                                    with
                                    property owner disputes, access issues, etc.</li>

                            </ul>
                        </div>
                        <div>
                            <h6 class="font-weight-bold">CN Utility Consulting-Raleigh, NC: Consulting Utility Forester
                                (October 2020-January 2021)</h6>
                            <ul class="font-weight-light">
                                <li>Contracted by Duke Energy in the Raleigh area to inspect transmission powerline
                                    right-of-ways
                                    for danger trees within ROW and buffer zone that could impact the high-voltage
                                    lines.</li>
                                <li>Work with team to flag ROW, measure tree heights, and mark hazard trees for removal.
                                </li>
                                <li>Utilize LIDAR data to assess areas with hazard trees and input data into
                                    tablet based on
                                    what is found in the field.</li>
                                <li>Submit work plan to utility detailing the work to be performed and what method is recommended to complete the work.
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h6 class="font-weight-bold">Environmental Consultants Incorporated (ECI)-Truckee, CA:
                                Consulting Utility Forester (May 2019-August 2020)</h6>
                            <ul class="font-weight-light">
                                <li>Contracted by Liberty Utilities-Lake Tahoe to work alongside vegetation management
                                    department to
                                    maintain compliance with California line clearance regulations.</li>
                                <li>Inspect high-voltage power lines and add trees to Inframap GIS program for trimming
                                    or removal
                                    to maintain compliance with state law, and select best trim type to obtain clearance
                                    while
                                    maintaining good tree health.</li>
                                <li>Mark dead trees that could impact power lines under CEMA program to prevent
                                    potential arcing or
                                    line damage that could ignite wildfires.</li>
                                <li>Communicate with Liberty Utility customers to inform them of trees out of
                                    compliance, and obtain
                                    written permission to remove such trees.</li>
                                <li>Train new employees on line inspection standards and data entry procedures.</li>
                                <li>Identify tree species in the Lake Tahoe Basin, and understand signs of poor tree
                                    architecture or
                                    health.</li>
                                <li>Use rangefinder and DBH tape to measure height, distance from lines, and size class
                                    of trees
                                    that are found to be a threat to high-voltage lines.</li>
                                <li>Work in inclement weather including rain, snow, and ice and hike long distances
                                    cross-country to
                                    complete line inspections.</li>
                                <li>Understand components of utility power lines and maintain Minimum Approach Distances
                                    required
                                    for different line voltages.</li>
                            </ul>
                        </div>
                        <a target="_blank" href="{% url 'portfolio:resume_pdf' %}">Download PDF (Full Resume)</a>

                    </div>
                </div>
                <hr>
            </div>
            <div class="mt-4 mb-4">
                <div class="row d-flex flex-row justify-content-between">
                    <div class="col-md-3">
                        <h4><em>Education</em></h4>
                    </div>
                    <div class="col-md-9 text-left">
                        <h5 class="fw-bold">North Carolina State University (2012-2016)</h5>
                        <p>B.S. in Fisheries, Wildlife, and Conservation Biology-Fisheries Concentration</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
{% endblock %}