{% extends 'blog/base.html' %}

{% block head %}
<title>Change Password</title>
{% endblock %}

{% block body %}

<div class="container ml-4 mt-4">
    <h1>Change Password</h1>
    <br>
    <div class="form-group">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Submit</button>
            <br></br>
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </form>
    </div>
</div>


{% endblock %}