{% extends 'blog/base.html' %}

{% block head %}
<title>Edit Profile Page</title>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
{% if user.id == profile.user.id %}
<div class="container ml-4 mt-4">
    <h1>Edit Profile Page</h1>
    <br>
    <div class="form-group">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% else %}
<div class="container mb-4 ml-4 mt-4">
    <h3>Incorrect User.</h3>
</div>
{% endif %}
{% else %}
<div class="container mb-4 ml-4 mt-4">
    <h3>You are not logged in.</h3>
</div>
{% endif %}


{% endblock %}