{% extends 'blog/base.html' %}
{% load static %}

{% block head %}
<title>My Blog</title>
{% endblock %}


{% block body %}

<body>
    <style>
        #profile {
            box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, 0.1);
        }

        
    </style>
    <div class="container-fluid my-3">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card border-primary my-2" id="profile">
                    <div class="card-body">
                        <div class="row justify-items-start">
                            <div class="col-5">
                                <div class="">
                                    {% if page_user.profile_pic %}
                                    <img class="card-img rounded" src="{{ page_user.profile_pic.url }}" alt="Card image cap">
                                    {% else %}
                                    <img class="card-img rounded" src="{% static 'defaultprofilepic.png' %}"
                                        alt="Card image cap">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="text-left" id="username">
                                    <h2 class="mt-2">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h2>
                                </div>
                                <p class="card-text my-3 text-left">{{ page_user.bio }}</p>
                                <div class="text-left mt-1">
                                    {% if page_user.facebook_url %}
                                    <a class="btn btn-outline-primary btn-sm" href="{{ page_user.facebook_url }}">Facebook</a>
                                    {% endif %}
                                    {% if page_user.instagram_url %}
                                    <a class="btn btn-outline-primary btn-sm" href="{{ page_user.instagram_url }}">Instagram</a>
                                    {% endif %}
                                    {% if page_user.twitter_url %}
                                    <a class="btn btn-outline-primary btn-sm" href="{{ page_user.twitter_url }}">Twitter</a>
                                    {% endif %}
                                    {% if page_user.linkedin_url %}
                                    <a class="btn btn-outline-primary btn-sm" href="{{ page_user.linkedin_url }}">LinkedIn</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>
{% endblock %}