{% extends 'blog/base.html' %}

{% block head %}
<title>About</title>
{% endblock %}


{% block body %}

<body>
    <style>
        .masthead {
            background-color: rgb(3, 90, 161);
        }

        .card {
            box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, 0.1);
        }

        .container {
            background-color: rgb(185, 180, 180);
        }
    </style>
    <header class="masthead">
        <div class="p-4 p-md-5 mb-4 text-white rounded">
            <div class="px-2">
                <h1 class="display-3 fst-italic">About My Blog</h1>
                <p class="lead">By: Robert Beazley</p>
            </div>
        </div>
    </header>
    <div class="container rounded">
        <div class="row">
            <div class="col-md-12">
                <div class="card my-3 mx-1">
                    <div class="card-body">
                        <p class="lead text-center">I am a self-taught devoloper, and recently I have been focused on
                            advancing my skills in Python, Django, HTML, and CSS. This blog was created with the help of a number of
                            resources including YouTube, online Django tutorials, and the Django documentation. Find out
                            more by visiting my portfolio website that I created using Django, Python, and a mix of Bootstrap,
                            HTML, and CSS.
                            <br>
                            <a class="btn btn-primary mt-3" role="button" href="{% url 'portfolio:index' %}">My Portfolio Site &raquo </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}