{% extends 'blog/base.html' %}

{% block head %}
<title>My Blog</title>
{% endblock %}


{% block body %}

<body>
    <style>
        .masthead {
            background-color: rgb(3, 90, 161);
        }

        .card {
            box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, 0.1);
        }

        .container {
            background-color: rgb(185, 180, 180);
        }
    </style>
    <header class="masthead">
        <div class="p-4 p-md-5 mb-4 text-white rounded">
            <div class="px-2">
                <h1 class="display-3 fst-italic">About My Blog</h1>
                <p class="lead">By: Robert Beazley</p>
            </div>
        </div>
    </header>
    <div class="container rounded">
        <div class="row">
            <div class="col-md-12 mt-3 left">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title text-center">About Me</h2>
                        <p class="lead text-center">I am self-taught devoloper with a desire to continually expand my skillset. Find out more by visiting my portfolio website.
                            <br>
                            <a class="btn btn-primary mt-3" role="button" href="{% url 'portfolio:index' %}">My Portfolio Site &raquo </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}