{% extends 'blog/base.html' %}

{% block head %}
<title>Blog Categories</title>
{% endblock %}


{% block body %}

<body>
    <style>
        .container {
            background-color: rgb(179, 179, 179);
        }

        .card {
            box-shadow: 4px 6px 4px 2px rgba(0, 0, 0, 0.1);
        }
    </style>

    <div class="container my-3 p-3 rounded">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title mb-4 text-center">Blog Categories</h1>
                {% for item in cat_menu_list %}
                <div class="row justify-content-center">
                    <div class="list-group col-md-5">
                        <a class="list-group-item list-group-item-action text-center lead"
                            href="{% url 'blog:category' item|slugify %}">{{ item }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}