{% extends 'blog/base.html' %}

{% block head %}
<title>Search Results</title>
{% endblock %}

{% block body %}

<body>
    <style>
        .masthead {
            background-color: rgb(3, 90, 161);
        }

        .container {
            background-color: rgb(179, 179, 179);
        }
    </style>
    <div class="container mt-2 rounded">
        <div class="row">
            <div class="col-md-12">
                <div class="card my-3">
                    <div class="card-body">
                        {% if searched %}
                        <h2 class="card-title mb-4">You searched: <em>{{ searched }}</em></h2>
                        <h5>Results:</h5>
                        {% for blog in blogs %}
                        {% if blog.status == 1 %}
                        <div class="list-group col-md-6">
                            <a class="list-group-item list-group-item-action" href="{% url 'blog:detail' blog.id %}">{{ blog }}</a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <h2>You submitted a blank search.</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock %}